.c-star{
    color: #FFC53E;
}

.f-11{
    font-size: 11pt;
}

.f-12{
    font-size: 12pt;
}

.f-10{
    font-size: 10pt;
}

.f-8{
    font-size: 8pt;
}

.f-7{
    font-size: 7pt;
}

.link{
    color: #666;
    text-decoration: none;
}

.link:hover{
    color: #C81423;
    text-decoration: none;
}

.card-grey{
    background-color: #F8F8F8;
    border-radius:4px;
}
.card-grey small{
    color: #666;
}

.card-grey span{
    font-size: 10pt;
}

.el-preview-desc small{
    color: #666;
}

.c-secondary{
    color: #666;
}

.el-preview-desc span{
    font-size: 10pt;
}

.el-rp, .el-price{
    color: #F2270C;
    font-weight: bold;
}

.el-price{
    font-size: 20pt!important;
    line-height: 30px;
}

.el-coret{
    color:#666;
    text-decoration: line-through!important;
    font-size: 12pt!important;
}

.badge-custom{
    background-color: rgb(254,240,238);
    border:1px solid #F2270C;
    color: #F2270C;
    padding: 1px 6px;
    border-radius: 2px;
}

.border-dash{
    border:0.2px dashed #d1d1d1;
    width: 100%;
}

.counting{
    /* border: 1px solid rgb(191,191,191); */
}

.btn-counter{
    width: 22px;
    padding: 6px 2px;
    border: 1px solid rgb(191,191,191);
    background-color: #fff;
    font-size: 15pt;
    font-weight: bold;
}

.counter{
    width: 32px;
    text-align: center;
    border-bottom: 1px solid rgb(191,191,191);
    border-top: 1px solid rgb(191,191,191);
    border-left: none;
    border-right: none;
}

.btn-custom{
    background-color: #F2190C; 
    /* line-height: 30px; */
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
    padding: 6px 20px;
}

.badge-custom-second{
    border:1px solid #d1d1d1;
    padding: 1px 12px;
    border-radius: 2px;
}

.select2-container--default .select2-selection--single{
    border: 1px solid rgb(218, 218, 218);
}

.select2-container--default .select2-results>.select2-results__options{
    font-size: 8pt;
}

.preview-thumbnail-detail.nav-tabs a.active {
    border: 2px solid #F2190C;
    border-radius: 4px;
    padding: 3px !important;
}

.preview-pic {
    overflow: hidden;
    cursor: crosshair;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.preview-pic {
    overflow: hidden;
    cursor: crosshair;
}

